body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
}
.indexTopNav{
  width:100%;
  height: 200px;
  border-bottom: 2px solid #E0E0E0;
  background-color: #e93636; /*Modify for changing background color of navigation bar on INDEX page*/
}
.navTop{
  width: 950px;
  margin: auto;
}
.siteName{
  color: #FFF;
  margin-top: 5px;
  font-size: 2em;
}
.logo{
  width:45px;
  margin-top: 25px;
  border-radius: 5px;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  cursor: pointer;
}
.logo:hover{
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
}
.navLinks{
  width: 950px;
  height: 45px;
  margin: auto;
  margin-top: 10px;
}
.navElem{
  color: #FFF;
  margin-right: 18px;
  padding-top: 15px;
  opacity: 0.8;
  font-size: 0.92em;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  float: left;
}
.navElem:hover{
  opacity: 1;
  cursor: pointer;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
}
.socialBtn{
  height: 25px;
  border: 1px solid #FFF;
  border-radius: 3px;
  background-color: Transparent;
  background-repeat:no-repeat;
  color: #FFF;
  opacity: 0.7;
  margin-top: 12px;
  float: right;
  margin-left: 12px;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
}
.socialBtn:hover{
  opacity: 1;
  cursor: pointer;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
}
.accountActions{
  float: right;
}
.navLogin{
  float: right;
  color: #FFF;
  margin-top: 14px;
  opacity: 0.7;
  font-size: 0.9em;
}
.navLogin:hover{
  opacity: 1;
  cursor: pointer;
}
.searchBar{
  width: 220px;
  color: #FFF;
  float: right;
  margin-top: 12px;
}
.navSearchInp{
  margin-top: -30px;
  border: 0px;
  height: 25px;
  width: 180px;
  background-color: Transparent;
  background-repeat:no-repeat;
  color: #FFF;
  border-bottom: 1px solid #E0E0E0;
  visibility: hidden;
}
.navSearchBtn{
  opacity: 0.8;
}
.navSearchBtn:hover{
  opacity: 1;
  cursor: pointer;
}
.bodyWrap{
  width:950px;
  min-height: 1000px;
  margin: auto;
  margin-top: 35px;
}
.latestBox{
  width:100%;
  height: 350px;
  border: 1px solid #dcdcdc;
}
.latestImgHolder{
  width: 60%;
  height: 100%;
  float:left;
}
.latestTitle{
  width: 35%;
  height: 180px;
  float: left;
  margin-left: 20px;
}
.latestTitleHead{
  font-size: 2.3em;
  font-weight: 600;
  color: #292929;
  line-height: 1.2;
  margin-top: 10px;
}
.latestDesc{
  color: #494949;
}
.tag{
  height: 23px;
  border-radius: 3px;
  border: 0px;
  background-color: #6d42f0;
  color: #FFF;
  margin-left: 20px;
}
